.project-footer{display:none;}
.site-header-sticky .navigator .menu-primary li:hover > .sub-menu{-webkit-transform: translateX(-50%) translateY(14px);transform: translateX(-50%) translateY(14px);}
.widget.fixed-menu ul.menu li a.mPS2id-highlight {color: #fff!important;}